.searchBody {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 3rem auto;
  align-items: center;
  .category {
    color: #999999;
    margin: auto;
  }
}
@media (min-width: 600px) {
  .searchBody {
    grid-template-columns: repeat(12, 1fr);
    .category {
      grid-column: 3/6;
      margin-left: 0;
      p {
        font-size: 1rem;
      }
    }
    .productsContainer {
      grid-column: 3/11;
    }
  }
}
