.navbar {
  background-color: #ffe600;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 3rem 3rem;
  justify-items: center;
  align-items: center;
  .logoDiv {
    margin-top: 1rem;
  }
  .searchForm {
    width: 100%;
    .searchInput {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .searchField {
        grid-column: 2/11;
        padding: 8px;
        border: none;
        border-radius: 3px 0 0 3px;
        &:focus {
          outline: none;
        }
      }
      .searchBtn {
        grid-column: 11/12;
        background-color: #eeeeee;
        border: none;
        border-radius: 0 3px 3px 0;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .navbar {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3rem;
    justify-items: start;
    .logoDiv {
      grid-column: 3/4;
      margin: 4px 8px 0 0;
    }
    .searchForm {
      grid-column: 4/11;
      .searchInput {
        .searchField {
          grid-column: 1/12;
        }
        .searchBtn {
          grid-column: 12/13;
        }
      }
    }
  }
}
